// Variables
$primary-color: #343a40;
$font-family: "Raleway", sans-serif;
$font-size-p: 20px;
$font-size-h2: 24px;
$border-radius: 15px;
$image-width: 250px;
$image-height: 250px;
$iframe-width: 230px;
$iframe-height: 200px;
$circular-size: 150px;
$circular-border-radius: 50%;

// Styles
.navbar {
background-color: $primary-color;
}

img {
margin: 9px;
width: $image-width;
height: $image-height;
}

p {
font-family: $font-family;
font-size: $font-size-p;
}

h2 {
font-family: $font-family;
font-size: $font-size-h2;
}

iframe {
height: $iframe-height;
width: $iframe-width;
border-radius: $border-radius;
}

.Cuadrado1 {
background-color: lightgray;
}

.circular--portrait {
border-radius: $circular-border-radius;
overflow: hidden;
width: $circular-size;
height: $circular-size;
margin: 0 auto;
position: relative;
}
.circular--portrait img {
width: 100%;
height: auto;
}